<div id="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-2"><p class="text-left">&copy;2016 Cyclid</p></div>
      <div class="col-md-1 col-md-offset-9"><a class="text-right" href="http://cyclid.io">cyclid.io</a></div>
    </div>
  </div>
</div>
