<div class="container" id="intro">
  <div class="row">
    <div class="col-md-8">
      <h1>Welcome to Cyclid!</h1>
      <p><span style="font-size:140%;">You currently don't belong to any organizations. Without an organization, you won't be able to run any jobs!</span></p>
      <p>You can either <a href="{{signup}}/organization">create a new organization</a>, or ask someone to add you to an existing organization.</p>
      <hr>
      <p>While you're here, there are some useful links which can help you get the most from Cyclid:</p>
      <ul style="line-height: 1.75;">
        <li>The official Cyclid documentation at <a href="//docs.cyclid.io">docs.cyclid.io</a>.</li>
        <li>Cyclid source code at <a href="//github.com/Cyclid/">Github</a>, including example projects.</li>
        <li>The <a href="//cyclid.io/blog/">Cyclid Blog</a> for news and articles about Cyclid & Continuous Integration.</li>
        <li>You can follow <a href="//twitter.com/cyclidci">@cyclidci</a> on Twitter for news & updates.</li>
      </ul>
      <p>If you'd like to get in touch, just email us at <a href="mailto:contact@cyclid.io">contact@cyclid.io</a>.</p>
    </div>

    <div class="col-md-4">
      <img style="padding-top: 90px;" src="/images/cyclid-logo-large.png">
    </div>
  </div>
</div>
