<div class="container" id="user">
  <div class="alert alert-danger alert-dismissible hidden" role="alert" id="user_failure">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <div id="error_message"></div>
  </div>

  <div class="panel panel-default hidden" id="user_info">
    <div class="panel-heading">
      <h3 class="panel-title text-initial-caps" id="user_heading"></h3>
    </div>

    <div class="row">
      <div class="col-md-2">
        <div class="container pad-20" id="user_avatar">
          <img src="{{gravatar_url}}&s=100" style="width:100px;height:100px;">
        </div>
      </div>

      <div class="col-md-10">
        <h3 id="user_name"></h3>

        <div class="col-md-6">
          <div class="dl-horizontal text-muted pad-20">
            <dt>Email</dt><dd id="user_email"></dd>
            <dt>Organizations</dt><dd id="user_org_list"></dd>
            {{#signup}}
            <dd><a href="{{signup}}/manage/{{username}}" target="_blank">Manage your Organizations</a></dd>
            {{/signup}}
          </div>
        </div>

        <div class="col-md-6 pad-20">
          <div class="row">
            <div class="col-md-5 text-muted pad-5">
              <button type="button" class="btn btn-default" style="width:100%;" data-toggle="modal" data-target="#user_password_modal">Change password</button>
            </div>
            <div class="col-md-7 text-muted pad-5">
              <small>Change your password and reset your client token.</small>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<!-- change password modal -->
<div class="modal fade" id="user_password_modal" role="dialog" aria-labelledby="user_password_modal_label">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="user_password_modal_label">Change password</h4>
      </div>

      <div class="modal-body">
        <div class="alert alert-danger alert-dismissible hidden" role="alert" id="user_password_failure">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <div id="user_password_error_message"></div>
        </div>

        <form id="user_password_form">
          <div class="form-group">
            <label for="user_password_password_1">New password</label>
            <input type="password" class="form-control" placeholder="Password" id="user_password_password_1">
          </div>
          <div class="form-group">
            <label for="user_password_password_2">Confirm password</label>
            <input type="password" class="form-control" placeholder="Password" id="user_password_password_2">
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" id="user_password_reset_signing">Reset client token
            </label>
          </div>
          <div class="form-group">
            <label for="user_password_secret">Client token</label>
            <input type="text" class="form-control" placeholder="Token" id="user_password_secret" disabled>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" id="user_password_cancel">Cancel</button>
        <button type="submit" class="btn btn-default" data-dismiss="modal" id="user_password_ok">Change password</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="/vendor/jquery.md5.js"></script>
<script type="text/javascript" src="/js/api.js"></script>
<script type="text/javascript" src="/js/user.js"></script>
<script type="text/javascript">
  var gblUsername = '{{username}}';
  var gblAPIURL = '{{api_url}}';
  var gblUserURL = '{{user_url}}';

  api_get(gblUserURL, gblUsername, user_update_details, user_get_failed);
</script>
