<!DOCTYPE html>
<html>
  <head>
    <title>
      {{title}}
    </title>
  </head>
  <body>
    <div id="header">
      {{username}}&nbsp;<a href="/logout">Logout</a>
    </div>
    <div id="main">
      {{{yield}}}
    </div>
  </body>
</html>
