<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
      {{title}}
    </title>

    <!-- Bootstrap CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/vendor/bootstrap/css/custom.css" rel="stylesheet" type="text/css">

    <!-- Font Awesome -->
    <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- jQuery -->
    <script src="/vendor/jquery-2.2.4.min.js"></script>
    <!-- Bootstrap plugins -->
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!-- Cookie handling -->
    <script src="/vendor/js.cookie.js"></script>
  </head>
  <body>
    <div id="wrap">

      <nav class="navbar navbar-layout">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="/">Cyclid</a>
          </div>

          <div class="collapse navbar-collapse" id="layout-navbar">
            <ul class="nav navbar-nav">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Organizations <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  {{#organizations}}
                  <li><a href="/{{.}}">{{.}}</a></li>
                  {{/organizations}}
                </ul>
              </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
              <p class="navbar-text">{{username}}</p>
              <li><a href="/logout">Logout</a></li>
            </ul>

          </div>
        </div>
      </nav>

      {{#breadcrumbs}}
      <ol id="nav-breadcrumbs" class="breadcrumb breadcrumb-layout">
      </ol>

      <script type="text/javascript">
        function lay_crumbs(crumbs) {
          var crumbsLength = crumbs.length;
          for (var i = 0; i < crumbsLength; i++) {
            var name = crumbs[i].name;
            if (i + 1 == crumbsLength) {
              $('#nav-breadcrumbs').append(`<li class="active">${name}</a></li>`);
            } else {
              var url = crumbs[i].url;
              $('#nav-breadcrumbs').append(`<li><a href="${url}"}>${name}</a></li>`);
            }
          }
        }

        lay_crumbs({{{breadcrumbs}}});
      </script>
      {{/breadcrumbs}}

      <div id="content">
        {{{yield}}}
      </div>

      <div id="push"></div>

    </div><!-- #wrap -->

    <!-- insert the footer -->
    {{> footer}}
  </body>
</html>
