<!--<div class="container" id="organizations">-->

  <div class="alert alert-danger hidden" role="alert" id="organization_failure"></div>

  <table class="sortable table table-hover table-condensed job-table" id="job-accordian">
    <thead>
      <th>ID</th>
      <th>Name</th>
      <th>Started</th>
      <th>Status</th>
    </thead>

    <tbody></tbody>
  </table>

  <table id="job-info" class="hidden">
    <tr data-toggle="collapse" data-target="#collapseID" class="clickable">
      <td>ID</td>
      <td>Name</td>
      <td>Started</td>
      <td>Status</td>
    </tr>

    <tr>
      <td colspan="4" class="hidden-row">
        <div id="collapseID" class="collapse">
        </div>
      </td>
    </tr>
  </table>

  <div class="hidden">
    <div id="job-info-inner" class="panel-body">
      {{> job_info}}
    </div>
  </div>

  <script type="text/javascript">
    function add_job(id) {
      var accordian = $('#job-accordian tbody');
      // Replace all of this with Mustache.js templates
      var job_info = $('#job-info tbody');

      accordian.append(job_info.html().replace(/ID/g, id));
    }

    function show_job() {
      var job_id = $(this).data('job_id');
      var job_info_inner = $('#job-info-inner');

      $(`#collapse${job_id}`).html(job_info_inner);

      var url = `{{organization_url}}/jobs/${job_id}`;
      api_get(url, '{{username}}', update_job, job_get_failed);
    }

    function hide_job() {
      var job_id = $(this).data('job_id');
      $(`#collapse${job_id}.job-info-inner`).remove();
    }

    for(var i=140; i > 100; i--){
      add_job(i);

      var collapse = $(`#collapse${i}`);
      collapse.data('job_id', i);
      collapse.on('hidden.bs.collapse', hide_job);
      collapse.on('show.bs.collapse', show_job);
    }
  </script>
<!--</div>-->
